rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow writing only into a folder named the same as the metadata IP
    match /drawings/{ip}/{fileName} {
      allow write: if request.resource != null
                   && request.resource.metadata.ip == ip;  
      allow read: if true; // or false if you want images private
    }
  }
}